{% extends 'base.html.twig' %}

{% block title %}|-=-| Welcome to IBU2K23 |-=-|
{% endblock %}

{% block body %}
	<div>
		<h1>|-=-| Welcome to IBU2K23 |-=-|</h1>
	</div>
	<main>
		<section>
			<img class="app_image" src="{{ asset('assets/styles/images/logo_ibu.png') }}" alt=""/>
		</section>
	</main>
{% endblock %}
