{% extends 'base.html.twig' %}

{% block title %}|-=-| Welcome to IBU2K23 |-=-|
{% endblock %}

{% block body %}
	<header>
		<div>
			<h1>Centre d'entraînement</h1>
		</div>
	</header>
	<main class="main_center">
	</main>
{% endblock %}
